
<!--include header-->
<%- include ('include/_header')%> 
<!--/include header-->

<!--Main-->
<main id="site-main">
    <div class="container">
        <%- include ('include/_back')%>
        <h1>Add a new Item</h1>
        <hr>
        <!--form handling-->
        <%- include ('include/_add-item')%>
    </div>
</main>
<!--/Main-->

<!--include footer-->
<%- include ('include/_footer')%>
<!--/include foter-->