<form action="/admin/items" method="POST" id="new_item">
    <!-- <fieldset> -->
        <!-- <legend>New Item</legend> -->
        <div class="form-group">
            <label for="title" class="form-label mt-4">Title</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Margherita" required>
    
            <label for="price" class="form-label mt-4">Price</label>
            <input type="number" class="form-control" name="price" id="price" placeholder="9" required>
    
            <label for="description" class="form-label mt-4">Description</label>
            <textarea class="form-control" name="description" id="description" rows="3" required></textarea>
            
            <button type="submit" class="btn btn-lg btn-primary" type="button">Submit</button>
        </div>
    
    <!-- </fieldset> -->
    
</form>

