<div class="box-nav d-flex-justify-between">
    <a href="javascript:history.back()" class="border-shadow">
        <button type="button" class="btn btn-success" title="Go Back" role="button"><i class="fa fa-arrow-left"></i>Back</button>  
    </a>
</div>
<br>

